<div class="about-section" id="about">

   <div class="container">

     <div class="row">
        <h2 class="section-title">
          About Me
          <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
        </h2>
       <div class="columns small-12 medium-6">
         <img src="/static/me.jpg" alt="">
       </div>
       <div class="columns small-12 medium-6">
        <div class="about-content">
          <h3>Me:</h3>
          <p>
          Hi my name is Pat Ortiz and welcome to my portfolio site. I have been working in the Front-end field for about 5 years now and have loved ever minute of it. I was born and raised in the beautiful city of Arvada, Colorado and I am currently in Idaho Falls working for Melaleuca.</p>
          <h3>Intrests:</h3>
          <p>
          I LOVE the game of hockey! I also own my own clothing brand called Timber Threads. I handle anything and everything from website build out to t-shirt designs. Nothing gives me a better feeling then someone wearing my artwork. I also snap pictures from time to time under the alias Pat Ortiz. I even love being a Front-end developer; I created a site for it as well PatOrtiz.com. Feel free to shoot me a message down below!
          </p>
        </div>

       </div>
     </div>
   </div>
</div>