<div class="contact-section" id="contact">

  <div class="container">
    <div class="row">
      <h2 class="section-title">
        Get at me
        <span>
        contact me any time
        </span>
      </h2>
      <div class="col-sm-12">
        <div class="contact-info">
        <a target="_blank" href="https://github.com/patttieo"><span>code</span> <i class="fa fa-github" aria-hidden="true"></i></a>
        <a target="_blank" href="https://twitter.com/patttieo"><span>tweet</span> <i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="mailto:patrick@ographix.com"><span>mail</span> <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/patrickdeortiz"><span>connect</span> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>  
    </div>
  </div>


</div>