<header class="header-wrapper">
  <div class="container header-container">
    <div class="menu-controller">
      <span class="m-menu-open-trigger" style="display:none;"><span>Menu</span></span>
      <span href="#" class="m-menu-default close-menu"><span>Menu</span></span>
      <div class="image-trigger"></div>  
    </div>
    <div id="menu" class="menu">
      <div class="menu__inner">
        <ul>
          <li class=" ">
            <a class="nav-link" href="#mywork">Work</a>
          </li>
          <li class=" ">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class=" ">
            <a class="nav-link" href="#contact">Contact</a>
          </li>     
        </ul> 
      </div>
    </div>
  </div>
</header>