<div class="home-banner clearfix" id="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
       <div class="banner-content">
            <h1>Welcome <span>to</span> my Pat-folio</h1>
            <h2>I am Front-end Web Developer</h2>
        </div> 
      </div>
    </div>
  </div>

</div>