<div class="mywork clearfix" id="mywork">
 <div class="row">
    <h2 class="section-title">
      My Work
      <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </h2>
    <div class="col-sm-12">
     <div class="example-one work-example"> 
        <a href="http://www.timberthreads.com" target="_blank">
          <div class="overlay"></div>
          <div class="example-content">
            <h2>Timber Threads</h2>        
            <h3>Click to View:</h3>
            <h4>www.timberthreads.com</h4>
          </div>
        </a> 
      </div>
    </div>   
    <div class="col-sm-12">
     <div class="example-two work-example"> 
        <a href="http://www.timberhockey.com" target="_blank">
          <div class="overlay"></div>
          <div class="example-content">
            <h2>Timber Hockey</h2>        
            <h3>Click to View:</h3>
            <h4>www.timberhockey.com</h4>
          </div>
        </a> 
      </div>
    </div>   
    <div class="col-sm-12">
      <div class="example-three work-example"> 
        <a href="http://www.patortiz.com" target="_blank">
          <div class="overlay"></div>
          <div class="example-showcase"></div>
          <div class="example-content">
            <h2>The OZ <span>Photography</span></h2>        
            <h3>View:</h3>
            <h4>www.theoz.photography</h4>
          </div>
        </a> 
      </div>
    </div>   
    <div class="col-sm-12">
     <div class="example-four work-example"> 
        <a href="http://www.edelgolf.com" target="_blank">
          <div class="overlay"></div>
          <div class="example-content">
            <h2>The OZ <span>Brand</span></h2>        
            <h3>View:</h3>
            <h4>www.theoz.clothing</h4> 
          </div>
        </a> 
      </div>
    </div>    
{{!--     <div class="col-sm-12">
     <div class="example-five work-example"> 
        <a href="http://www.indehaus.com" target="_blank">
          <div class="overlay"></div>
          <div class="example-content">
            <h2>Indehaus</h2>        
            <h3>Click to View:</h3>
            <h4>www.edelgolf.com</h4> 
          </div>
        </a> 
      </div>
    </div>   --}}  
 </div>
</div>