/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "font-awesome";
@import "screen";

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
*, *:after, *:before {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.fl {
	float:left
}
.fr {
	float:right;
}
.big-img {
    padding: 25vh 10%;
    width: 100vw;
    box-sizing: border-box;
    -webkit-transform-style: inherit;
    transform-style: inherit;
    position: relative;
}

/* Button 2 */
.button{
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

/* Button 2a */
.button {
	border-radius: 0 0 5px 5px;
}

@media only screen and (max-width: 480px) {

    // styles in 481up.scss
    @import "400";

} // end of media query
@media only screen and (max-width: 768px) {

    // styles in 481up.scss
    @import "768";

} // end of media query
