<!DOCTYPE html>
<html lang="en">
<head>
  {{> partials/head }}
</head>
<body>
  <!-- start if header -->
  {{> partials/header }}
  <!-- end of header -->

  <!-- start of banner section -->
  {{> partials/home-banner }}
  <!-- end of banner section -->

  <!-- start of my work section -->
  {{> partials/mywork}}
  <!-- end of my work section -->
  
  <!-- start of about section -->
  {{> partials/about }}
  <!-- end of about section -->

  <!-- start of contact section -->
  {{> partials/contact }}
  <!-- end of contact section -->

  <!-- start of footer -->
  {{> partials/footer }}
  <!-- end of foot -->   
  {{> partials/scripts }}

</body>
</html>